<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="nanguashu.dao.CommonCodeDataMapper" >
  <resultMap id="BaseResultMap" type="nanguashu.pojo.CommonCodeData" >
    <id column="ID" property="id" jdbcType="INTEGER" />
    <result column="COMMON_CODE" property="commonCode" jdbcType="VARCHAR" />
    <result column="COMMON_CODE_NAME" property="commonCodeName" jdbcType="VARCHAR" />
    <result column="CATEGORY_ID" property="categoryId" jdbcType="INTEGER" />
  </resultMap>
  <sql id="Base_Column_List" >
    ID, COMMON_CODE, COMMON_CODE_NAME, CATEGORY_ID
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from nanguashu_common_code_data
    where ID = #{id,jdbcType=INTEGER}
  </select>
  
  
   <select id="selectAllCodeDataByName" resultMap="BaseResultMap" parameterType="nanguashu.pojo.CommonCodeData" >
    select 
    <include refid="Base_Column_List" />
    from nanguashu_common_code_data
    where 1=1
    <if test="categoryId != null" >
      and CATEGORY_ID = #{categoryId,jdbcType=INTEGER}
    </if>
    <if test="commonCodeName != null" >
      and COMMON_CODE_NAME LIKE #{commonCodeName,jdbcType=VARCHAR}
    </if>
     
  </select>
  
    <select id="selectCodeDataByCodeAndName" resultMap="BaseResultMap" parameterType="nanguashu.pojo.CommonCodeData" >
	    select 
	    <include refid="Base_Column_List" />
	    from nanguashu_common_code_data
	    where 1=1
	     <if test="categoryId != null" >
	      and CATEGORY_ID = #{categoryId,jdbcType=INTEGER}
	    </if>
	    <if test="commonCodeName != null" >
	      and COMMON_CODE_NAME = #{commonCodeName,jdbcType=VARCHAR}
	    </if>
	     <if test="commonCode != null" >
	      and COMMON_CODE = #{commonCode,jdbcType=VARCHAR}
	    </if>
 	 </select>
   
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from nanguashu_common_code_data
    where ID = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="nanguashu.pojo.CommonCodeData" >
    insert into nanguashu_common_code_data (ID, COMMON_CODE, COMMON_CODE_NAME, 
      CATEGORY_ID)
    values (#{id,jdbcType=INTEGER}, #{commonCode,jdbcType=VARCHAR}, #{commonCodeName,jdbcType=VARCHAR}, 
      #{categoryId,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" parameterType="nanguashu.pojo.CommonCodeData" >
    insert into nanguashu_common_code_data
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        ID,
      </if>
      <if test="commonCode != null" >
        COMMON_CODE,
      </if>
      <if test="commonCodeName != null" >
        COMMON_CODE_NAME,
      </if>
      <if test="categoryId != null" >
        CATEGORY_ID,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="commonCode != null" >
        #{commonCode,jdbcType=VARCHAR},
      </if>
      <if test="commonCodeName != null" >
        #{commonCodeName,jdbcType=VARCHAR},
      </if>
      <if test="categoryId != null" >
        #{categoryId,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="nanguashu.pojo.CommonCodeData" >
    update nanguashu_common_code_data
    <set >
      <if test="commonCode != null" >
        COMMON_CODE = #{commonCode,jdbcType=VARCHAR},
      </if>
      <if test="commonCodeName != null" >
        COMMON_CODE_NAME = #{commonCodeName,jdbcType=VARCHAR},
      </if> 	
      <if test="categoryId != null" >
        CATEGORY_ID = #{categoryId,jdbcType=INTEGER},
      </if>
    </set>
    where ID = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="nanguashu.pojo.CommonCodeData" >
    update nanguashu_common_code_data
    set COMMON_CODE = #{commonCode,jdbcType=VARCHAR},
      COMMON_CODE_NAME = #{commonCodeName,jdbcType=VARCHAR},
      CATEGORY_ID = #{categoryId,jdbcType=INTEGER}
    where ID = #{id,jdbcType=INTEGER}
  </update>
  
   <select id="selectAllCodeDataNumByCategoryId" parameterType="java.lang.Integer" resultType="java.lang.Integer">
    SELECT COUNT(1) FROM nanguashu_common_code_data D WHERE D.CATEGORY_ID = #{categoryId,jdbcType=INTEGER}
   </select>
   
   <select id="selectAllCodeDataByCategoryId" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    SELECT
    <include refid="Base_Column_List" />
     FROM nanguashu_common_code_data D WHERE D.CATEGORY_ID = #{categoryId,jdbcType=INTEGER}
   </select>
   
</mapper>